.container {
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  width: 100%;
}

#rosi-logo {
  position: absolute;
  top: +20px;
  right: +180px;
}

#tib-logo {
  position: absolute;
  top: +30px;
  right: +40px;
}

.header {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: #4b4b4b;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.header a {
  color: white;
}
.header a:hover {
  color: white;
}

.container a{
  color: #af1414 !important;
}

/* form */

input::placeholder{
  font-size: 80%;
}

textarea::placeholder{
  font-size: 80%;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

label{
  font-size: 110%;
}
